 /* Estilo para las imágenes en los costados */
 .side-image {
     position: fixed;
     width: 300px;
     height: auto;
     top: 50%;
     transform: translateY(-50%);
     z-index: 10;
     transition: all 0.5s ease;
     /* Transición suave para el hover */
     filter: brightness(0.8);
     /* Reduce un poco el brillo por defecto */
     border-radius: 50%;
     /* Bordes redondeados */
     border: 5px solid rgba(185, 185, 184, 0.5);
     /* Añadir un borde blanco suave */
 }

 /* Efecto de brillo al pasar el mouse */
 .side-image:hover {
     filter: brightness(1.2) drop-shadow(0 0 20px rgba(217, 253, 56, 0.8));
     transform: translateY(-50%) scale(1.1);
     /* Un poco de zoom */
 }

 /* Efecto específico para la imagen izquierda */
 .left-image {
     left: 40px;

     /* Posiciona la imagen a la izquierda */
 }

 /* Efecto específico para la imagen derecha */
 .right-image {
     right: 40px;

     /* Posiciona la imagen a la derecha */
 }